{# Default role mappings #}
{%- set roles = roles or {
    "user": "user",
    "system": "system",
    "assistant": "assistant",
    "tool": "tool"
} -%}
{%- set add_generation_prompt = add_generation_prompt or true -%}
{%- set prefill = prefill or none -%}
{%- set system_reminder = system_reminder or none -%}
{# ------------------------------------------------------------------------ #}
{# Macro to render individual interactions                                  #}
{# ------------------------------------------------------------------------ #}
{%- macro render_interaction(interaction) -%}
    {%- set role = roles.get(interaction['role'], interaction['role']) -%}
    {%- if role == "assistant" -%}
        {{- assistant_header_start -}}
    {%- elif role == "user" -%}
        {{- user_start -}}
    {%- endif -%}
    {%- if interaction["scratchpad"] -%}
        {{- interaction["scratchpad"] | safe -}}
    {%- endif -%}
    {{- interaction['content'] | safe -}}
    {%- if interaction.tool_call -%}
        {{- tool_start }}
        {{- interaction.tool_call | tojson(indent=2) | trim -}}
        {{- tool_end -}}
    {%- endif -%}
    {%- if interaction.tool_result and not interaction.tool_result.last -%}
        {%- if not interaction.tool_result.silent -%}
            {{- "<｜tool▁output▁begin｜>" -}}
            {{- tool_result_start -}}
            {{- interaction.tool_result.content | safe -}}
            {{- tool_result_end -}}
            {{- "<｜tool▁output▁end｜>" -}}
        {%- endif -%}
    {%- endif -%}

    {%- if role == "assistant" -%}
        {{- assistant_header_end -}}
    {%- endif -%}
{%- endmacro -%}
{# ------------------------------------------------------------------------ #}
{# Chat template                                                            #}
{# ------------------------------------------------------------------------ #}
{{ begin_of_text }}
{%- for interaction in interactions -%}
    {{ render_interaction(interaction) -}}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{- assistant_header_start -}}
{%- endif -%}
{%- if prefill is not none -%}
    {{- prefill -}}
{%- endif -%}
