{# ------------------------------------------------------------------------ #}
{# Set default values for variables                                         #}
{# ------------------------------------------------------------------------ #}
{%- if model_type is not defined -%}
    {%- set model_type = None -%}
{%- endif -%}
{%- if template_type == "chatml" -%}
    {%- set eos_token = eos_token + "\n" -%}
{%- endif -%}

{%- if tools is not defined -%}
    {%- set tools = none -%}
{%- endif -%}

{%- if tool_calls is not defined -%}
    {%- set tool_calls = {} -%}
{%- endif -%}

{# Configuration flags #}
{%- if add_generation_prompt is not defined -%}
    {%- set add_generation_prompt = true -%}
{%- endif -%}

{%- if add_reminders is not defined -%}
    {%- set add_reminders = true -%}
{%- endif -%}

{%- if continue_message_id is not defined -%}
    {%- set continue_message_id = none -%}
{%- endif -%}

{# Tool-related tokens #}
{%- if eom_token is not defined or eom_token == "" -%}
    {%- set eom_token = eos_token -%}
{%- endif -%}

{%- if tool_result_token_start is not defined -%}
    {%- set tool_result_token_start = start_header_token + roles.tool + end_header_token + "\n" -%}
{%- endif -%}

{%- if tool_result_token_end is not defined -%}
    {%- set tool_result_token_end = eos_token -%}
{%- endif -%}

{%- if start_header_token is not defined -%}
    {%- set start_header_token = "<|start_header_id|>" -%}
{%- endif -%}

{%- if end_header_token is not defined -%}
    {%- set end_header_token = "<|end_header_id|>\n" -%}
{%- endif -%}

{%- if tool_use_token_start is not defined -%}
    {%- set tool_use_token_start = "```json" -%}
{%- endif -%}

{%- if tool_use_token_end is not defined -%}
    {%- set tool_use_token_end = "```" -%}
{%- endif -%}

{# ------------------------------------------------------------------------ #}
{# Add the beginning of text token                                          #}
{# ------------------------------------------------------------------------ #}
{{- bos_token + "\n" -}}
{# ------------------------------------------------------------------------ #}
{# Macro to render individual messages                                      #}
{# ------------------------------------------------------------------------ #}
{# Macro to render individual messages #}
{%- macro render_message(message) -%}
    {%- set role = roles.get(message['role'], message['role']) -%}
    {%- set content = message['content'] -%}

    {%- if role == roles.assistant and message.tool_calls -%}
        {%- if content is string -%}
            {%- set content = [content] -%}
        {%- endif -%}
        {%- for tool_call in message.tool_calls -%}
            {%- if loop.first and continue_message_id is not none and continue_message_id == message.id -%}
                {{- render_reminders() -}}
            {%- endif -%}
            {%- set index = loop.index0 -%}
            {{ start_header_token ~ roles.assistant ~ end_header_token ~ "\n" }}
            {%- if content is sequence and (index < content | length) and content[index] -%}
                {{ content[index] | trim + "\n" }}
            {%- endif -%}
            {{- tool_use_token_start + "\n" }}
            {%- set function = tool_call.function -%}
            {{- function | tojson(indent=2) | trim -}}
            {{- "\n" + tool_use_token_end -}}

            {%- if loop.last -%}
                {%- if (continue_message_id is not none and continue_message_id == message.id) or (continue_message_id is none) -%}
                    {{- eom_token + "\n" -}}
                {%- else -%}
                    {{- eos_token + "\n" -}}
                {%- endif -%}
            {%- else -%}
                {{- eom_token + "\n" -}}
            {%- endif -%}
            {%- if tool_call.tool_call_id in tool_calls -%}
                {%- set tool_result = tool_calls[tool_call.tool_call_id].content | trim -%}
                {%- if tool_result -%}
                    {%- if not loop.last and eom_token -%}
                        {{- eom_token + "\n" -}}
                    {%- endif -%}
                    {{- tool_result_token_start -}}
                    {{- tool_result -}}
                    {{- tool_result_token_end -}}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    {%- elif content and not message.tool_call_id -%}
        {{- start_header_token + role + end_header_token + "\n" -}}
        {{- content | safe -}}
        {{- eos_token + "\n" -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro render_reminders() -%}
    {%- if add_reminders -%}
        {{- start_header_token + roles.system + end_header_token + "\n" -}}
        {{- "Available tools: [" -}}
        {%- for t in tools -%}
            {{- t.name -}}
            {%- if not loop.last -%}
                {{- ", " -}}
            {%- endif -%}
        {%- endfor -%}
        {{- "].\n" -}}
        {{- eos_token + "\n" -}}
    {%- endif -%}
{%- endmacro -%}
{# Render each message in the conversation #}
{%- for message in messages -%}
    {{ render_message(message) -}}
{%- endfor -%}

{%- if continue_message_id is none -%}
    {{- render_reminders() -}}
{%- endif -%}

{%- if add_generation_prompt -%}
    {{- start_header_token + roles.assistant + end_header_token + "\n" -}}
{%- endif -%}
