{# Default role mappings #}
{%- set roles = roles or {
    "user": "user",
    "system": "system",
    "assistant": "assistant",
    "tool": "tool"
} -%}
{%- set add_generation_prompt = add_generation_prompt or true -%}
{%- set prefill = prefill or none -%}
{# ------------------------------------------------------------------------ #}
{# Macro to render individual interactions                                  #}
{# ------------------------------------------------------------------------ #}
{%- macro render_interaction(interaction) -%}
    {%- set role = roles.get(interaction['role'], interaction['role']) -%}
    {{- assistant_header_start + role + assistant_header_end -}}
    {{- interaction['content'] | safe -}}
    {%- if interaction.tool_call -%}
        {{- tool_start }}
        {{- interaction.tool_call | tojson(indent=2) | trim -}}
        {{- tool_end -}}
    {%- endif -%}

    {%- if interaction.tool_result and not interaction.tool_result.last and not interaction.tool_result.silent -%}
        {{- end_of_message -}}
        {{- assistant_header_start + roles.tool + assistant_header_end -}}
        {{- interaction.tool_result.content | safe -}}
    {%- endif -%}

    {{- end_of_sequence -}}
{%- endmacro -%}
{# ------------------------------------------------------------------------ #}
{# Chat template                                                            #}
{# ------------------------------------------------------------------------ #}
{{ begin_of_text }}
{%- for interaction in interactions -%}
    {{ render_interaction(interaction) -}}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{- assistant_header_start + roles.assistant + assistant_header_end -}}
{%- endif -%}
{%- if prefill is not none -%}
    {{- prefill -}}
{%- endif -%}
